<%- title "Edit Issue #{@issue.number}" %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <%= render 'form', issue: @issue %>

        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <%= link_to 'Show Issue', @issue %> |
        <%= link_to 'Back to Index', issues_path %>
    </div>
  </section>