<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <h1 class="title">New Work</h1>

        <%= render 'form', work: @work %>

          <%= link_to 'Back', works_path %>
      </div>
    </div>
  </div>
</section>