<%- title 'New Story' %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">

          <%= render 'form', work: @work %>


        </div>
      </div>
    </div>
  </section>