<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <h1 class="title">Editing Submission</h1>

        <%= render 'form', submission: @submission %>

          <%= link_to 'Show', @submission %> |
            <%= link_to 'Back', submissions_path %>
      </div>
    </div>
  </div>
</section>