<section class="section">
  <div class="container">
    <h1 class="title">
      <%= content_for?(:title) ? content_for(:title) : "" %>
    </h1>


    <%# new_button_link_to new_button_link_title, new_link_path, class:'button is-primary is-small' %>

  </div>
</section>